// Here you can add other styles
.icon-actions {
  width: 20px;
  height: 20px;

  path {
    transition: all .3s ease;
  }

  &:hover {
    path {
      fill: $blue;
      stroke: $blue;
    }
  }
}

.ReactTable {
  border: none !important;

  .rt-table {
    border-radius: 6px;

    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.05);
  }

  .rt-tr {
    .rt-th div {
      // font-family: $font-gotham;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
    }

    &.-odd {
      background-color: #f4f4f4;
    }
  }

  .rt-thead {
    color: #286df9;

    background-color: #e9f0ff;

    border-bottom: 1px solid #dde4f2;
  }
  
  .rt-td {
    // font-family: $font-gotham;
    font-weight: 200;
    font-size: 14px;
  }

  .rt-th,
  .rt-td {
    padding: 15px !important;
    
    white-space: normal !important
  }

  .rt-td {

    &.table-point-plus:before {
      content: '+';
      position: relative;
      margin-right: 3px  
    }

    &.table-amount-peso:before {
      content: 'P';
      position: relative;
      margin-right: 3px  
    }

    .table-status-active,
    .table-status-inactive {
      position: relative;

      &:after {
        content: '';

        position: absolute;
        top: calc(50% + 2px);
        right: -18px;

        width: 9px;
        height: 9px;

        border-radius: 50%;

        transform: translateY(-50%);
      }
    }

    .table-status-active:after {
      background-color: green;
    }

    .table-status-inactive:after {
      background-color: red;
    }
  }

  .rt-th {
    display: flex;
    align-items: center;

    text-align: left;
  }

  .rt-tr-group {
    background-color: white;
  }

  .rt-resizable-header-content {
    text-align: left;
  }  

  .button-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .button-holder {
    width: auto;
  }

  .icon-link {
    display: block;
    padding: 0 6px;
    height: 100%;
  }

  .btn-icon {
    background: none;
    border: none;
    outline: none;

    cursor: pointer;
  }
}

.modals {
  .holder-details {
    display: flex;
    flex-wrap: wrap;
    
    .holder-key {
      width: 40%;
    }

    .holder-value {
      width: 60%;
    }
  }
}


.lds-ring {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff9502 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.readOnly {
  border: none;
  outline: none;
  cursor: auto;
}